extends _layouts/base



block content

  .container
    section.game-intro
      // Icon Section
      .row
        .col.s12.m6.offset-m3

          .intro
            .intro__logo
              img.responsive-img(src='/images/dndlogo.jpg' alt='Dungeons & Dragons logo')
              .visuallyhidden
                | Dungeons & Dragons
            .intro__cta.f-pixel
              a.waves-effect.waves-light.btn-large.grey.darken-2 Begin your game


    section.game-class
      .row
        .col.s12.m6.offset-m3
          .progress
            .indeterminate

      .row
        .col.s12.m6.offset-m3
          h1.t-l
            | Welcome to your game of Dungeons & Dragons





