extends _layouts/base

include _modules/card/card

block content

  .container
    section.game-intro
      // Icon Section
      .row
        .col.s12.m6.offset-m3

          .intro
            .intro__logo
              img.responsive-img(src='/images/dndlogo.jpg' alt='Dungeons & Dragons logo')
              .visuallyhidden
                | Dungeons & Dragons
            .intro__cta.f-pixel
              a.js-start-game.waves-effect.waves-light.btn-large.grey.darken-2 Begin your game


    section.game-loader(style="display: none;")
      .row
        .col.s12.m6.offset-m3
          .progress
            .indeterminate

    section.game-class(style="display: none;")
      .row(style="display: none;")
        .col.s12.m8.offset-m2
          h1.t-l
            | Welcome to your game of Dungeons & Dragons

      .row(style="display: none;")
        .col.s12.m8.offset-m2
          +card()





