extends _layouts/base



block content

  .container
    .section
      // Icon Section
      .row
        .col.s12.m6.offset-m3

          .intro
            .intro__logo
              img.responsive-img(src='/images/dndlogo.jpg')
            .intro__cta.f-pixel
              a.waves-effect.waves-light.btn-large.grey.darken-2 Begin your game


